.App {
  color: rgb(170, 170, 170);
  background-color: #ffffff;
}

.navigation {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(161, 161, 161);
  margin-top: 3%;
  margin-bottom: 5%;
}

.navigation a {
  margin-right: 5%;
}

.navigation a:last-child {
  margin-right: 0;
}

.App-link {
  font-size: 15px;
  color: #3b7bb6;
  text-decoration: none;
}

.App-text {
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sidenav-text {
  text-align: center;
  text-decoration: none;
  align-items: right;
  justify-content: right;
  background: none;
  color: rgb(219, 219, 219);
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

.sidenav-text-logo {
  text-align: center;
  text-decoration: none;
  align-items: right;
  justify-content: right;
  background: none;
  color: rgb(219, 219, 219);
  font-size: 1vw;
  padding: 10px 11px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  height: 5%;
  min-height: 80px;
}

.sidenav-right {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 70px;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.form {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.form-box {
  align-items: center;
  max-width: 60%;
  height: 100vh;
  margin: 0vw;
  padding: 5vw;
}

.form-text {
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.post-form-text {
  margin-left: 20px;
  justify-content: left;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.group {
  padding: 5%;
  display: flex;
  justify-content: center;
  background-color: 282c34;
}

.group-post {
  padding: 10px 50px 0px 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: 282c34;
}
.feed-container1{
  width: 200px; /* Adjust this value to change the column's width relative to its siblings */
  background-color: #eaeaea;
  padding-top: 10px;
}
.feed-container3 {
  width: 300px; /* Adjust this value to change the column's width relative to its siblings */
  background-color: #eaeaea;
  padding-top: 10px;
}

.feed-container2 {
  max-width: 400px; /* This gives the feed container more space, making it more prominent */
}

.feed-container-row {
  padding-top: 120px;
  display: flex;
  justify-content: center; /* Center the columns horizontally */
  align-items: start; /* Align items from the start vertically */
  gap: 10px; /* Optional: adds space between columns */
  margin: 0 auto; /* Center the row container in the middle of the page */
  max-width: 900px; /* Adjust based on your preference */
}
.feed-container-row2 {
  flex-wrap: nowrap;
}

.button-bar {
  margin-left: 0px;
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: right;
  width: 100%;
  color: #000000;
  background-color: rgba(224, 224, 224, 0);
  border-top-width: 50px;
  border-top-color: #232323;
}

.form-struct {
  justify-content: center;
}

.form-struct-post {
  justify-content: center;
}

.link-header {
  justify-self: left;
  font-size: 15px;
  height: 50px;
  border-width: 1px;
  color: #ffffff;
  border-color: #3e7fbd;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #5084b6;
  text-shadow: inset 0px 1px 0px #2c5e8d;
  background: linear-gradient(#3e7fbd, #316a9e);
  max-width: 360px;
  margin: 15px;
}

.show-more {
  z-index: 1;
  padding-left: 10px;
  text-align: left;
  font-size: 16px;
  height: 40px;
  color: #000000;
  border: none;
  background: linear-gradient(#f1f1f1, #f1f1f1);
  width: 100%;
}

.edit-profile {
  margin-top: 10px;
  margin-bottom: 0px;
  z-index: 1;
  padding-left: 10px;
  text-align: left;
  font-size: 16px;
  height: 40px;
  color: #000000;
  background: linear-gradient(#f1f1f1, #f1f1f1);
  width: 100%;
  border: none;
  border-radius: 0;
}

.edit-profile-picture {
  margin-top: 0px;
  margin-bottom: 10px;
  z-index: 1;
  padding-left: 10px;
  text-align: left;
  font-size: 16px;
  height: 40px;
  color: #000000;
  background: linear-gradient(#f1f1f1, #f1f1f1);
  width: 100%;
  border: none;
  border-radius: 0;
}

.show-more-row {
  z-index: 1;
  padding-left: 20px;
  text-align: left;
  font-size: 16px;
  height: 60px;
  color: #8f8f8f;
  border: none;
  background: linear-gradient(#f1f1f1, #f1f1f1);
  width: 70px;
}
.show-more-row:hover {
  color: #272727;
}
.show-more-row-wide:hover {
  color: #272727;
}
.show-more-row-wide {
  z-index: 1;
  padding-left: 22px;
  text-align: left;
  font-size: 16px;
  height: 60px;
  color: #5c5c5c;
  border: none;
  background: linear-gradient(#f1f1f1, #f1f1f1);
  width: 100px;
}

.show-more-row-like {
  z-index: 1;
  padding-left: 0px;
  text-align: left;
  font-size: 16px;
  color: #8f8f8f;
  border: none;
  background: linear-gradient(#f1f1f1, #f1f1f1);
  width: 70px;
}

.form-input-label-passbox {
  padding-bottom: 15px;
}

.show-more-row-like:hover {
  color: #272727;
}

.show-more-div {
  margin-top: 50px;
}

.submit-button {
  font-size: xx-small;
  margin-right: 5px;
  padding: 2px;
  left: 0;
  height: 30px;
  border-width: 1px;
  color: #464646;
  border-color: #1e2f3f00;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #2c486300;
  text-shadow: inset 0px 1px 0px #15212c00;
  background: linear-gradient(#314b6300, #31699e00);
  max-width: 20%;
  background-color: #dadada;
}

.make-a-post {
  margin: 10px;
  justify-self: left;
  font-size: 15px;
  height: 50px;
  border-width: 1px;
  color: #000000;
  border-color: #3e7fbd;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #5084b6;
  text-shadow: inset 0px 1px 0px #2c5e8d;
  background: linear-gradient(#3e7fbd, #316a9e);
  max-width: 96%;
}

.group-box {
  justify-content: center;

  max-width: 400px;
  margin-top: 100px;
  padding: 20px;
  background-color: #f1f1f1;
}

.group-box-login {
  justify-content: center;
  max-width: 400px;
  padding: 20px;
  margin-top: 100px;
  background-color: #f1f1f1;
}

.group-box-edit {
  overflow: hidden;
  min-width: 300px;
  width: 100%;
  background-color: #f1f1f1;
}

.group-box-post {
  justify-content: left;
  overflow: hidden;
  min-width: 300px;
  width: 100%;
  padding: 20px 30px 20px 20px;
  background-color: #f1f1f1;
}

.group-box-feed-post {
  justify-content: left;
  overflow: hidden;
  width: 100%;
  padding: 20px 20px 0px 20px;
  background: #f1f1f1;
  margin-top: 10px;
}

.Post-img {
  padding: 0px 10px 0px 10px;
  width: 100%;
}

.pfp {
  margin: 5px;
  padding: 5px 5px 5px 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-logo {
  color: #8f8f8f;
  margin: 0px;
  padding: 1px 0px 3px 0px;
  width: 12px;
  height: 17px;
}

.logo {
  width: 30%;
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-logo {
  width: 50px;
  margin-right: 5px;
  object-fit: cover;
}
.post-comment-logo {
  width: 40px;
  margin-right: 5px;
}

.post-button {
  margin: 0px;
  text-align: left;
  border: none;
  background: #ffffff00;
  color: #000000;
  min-width: 100%;
}

.file-upload {
  display: none;
  color: rgb(99, 99, 99);
  width: 35%;
}

.Post-text-title {
  font-size: 15px;
  color: rgb(34, 122, 163);
  word-break: break-all;
  text-decoration: none;
  background-color: #f1f1f1;
}

.Post-text {
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  word-break: break-all;
  text-decoration: none;
  background-color: #f1f1f1;
}

.Post-text-info {
  padding-left: 10px;
  padding-bottom: 45px;
  margin: 0px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  word-break: break-all;
  text-decoration: none;
}

.Post-text-name {
  font-size: 15px;
  color: rgb(0, 0, 0);
  word-break: break-all;
  text-decoration: none;
  background-color: #f1f1f1;
}

.Post-text-date {
  font-size: 15px;
  color: rgb(0, 0, 0);
  word-break: break-all;
  text-decoration: none;
  background-color: #f1f1f1;
}

.group-box-post-loggedout {
  padding: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
}

.form-input {
  justify-content: center;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

.form-input-label {
  margin-bottom: 15px;
}

.form-post-input-label {
  align-items: top;
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  resize: none;
  height: 80px;
  border: none;
}

.form-post-input-label-comment {
  align-items: top;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 10px 10px 15px;
  width: 100%;
  resize: none;
  height: 50px;
  border: none;
}

.form-post-input-label-comment:focus {
  outline: 0px solid #ffffff00; /* Example: changing to an orange outline */
}

.form-post-input-profile {
  align-items: top;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  resize: none;
  height: 50px;
  border: none;
  border: 1px solid rgb(201, 201, 201);
}

.text-warning {
  color: rgb(218, 16, 16);
  font-size: 18px;
  padding: 0px 0px 0px 10px;
  width: 100%;
}

.text-notify {
  color: rgb(74, 167, 94);
  font-size: 14px;
  margin-top: 5px;
  height: 10px;
  padding-left: 10px;
}

.group-post-comment-form {
  padding: 0px 0px 0px 0px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid rgb(201, 201, 201);
}

.group-post-comment {
  padding: 0px 10px 10px 10px;
  width: 100%;
}

.comments {
  margin-left: 0px;
  margin-bottom: 20px;
  width: 100%;
  border-left: 1px solid rgb(201, 201, 201);
}

.post-header {
  display: flex;
  align-items: center; /* Aligns the profile picture and the title/date vertically */
  margin-bottom: 10px; /* Adjust as needed */
}

.post-title-date {
  margin-left: 0px; /* Adjust space between profile pic and text */
  display: flex;
  flex-direction: column;
}

.Post-text-title {
  margin: 0;
  font-weight: bold;
  color: rgb(0, 66, 128); /* Adjust as needed */
}

.post-date {
  font-size: 0.7rem; /* Smaller font size for date */
  color: grey;
}

.group-feed {
  padding: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: 282c34;
}

.group-users {
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: 282c34;
}

.userlist-title {
  align-items: top;
  text-align: center;
  background-color: #f1f1f1;
  color: rgb(0, 66, 128);
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .group-feed {
    padding: 0px 15px 0px 60px;
    min-width: 100vw;
  }

  .group-users {
    padding: 0px 0px 0px 0px;
    width: 100%;
  }
  .hide-on-mobile {
    display: none; /* Hide on small screens */
  }
  .feed-container2 {
    max-width: 100%; /* This gives the feed container more space, making it more prominent */
  }
}

/* Adjust or remove styles from .sidenav-button */
.sidenav-button {
  /* Removed positioning styles */
  z-index: 1000; /* Keep if you need the buttons to be on top of other elements */
}

.nav-button-side {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
  background-color: #015b8a;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: #ffffff00;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 90%; /* Consider adjusting if the button size is not appropriate */
  /* Removed 'top' as it's not effective without position:relative/absolute/fixed */
}

.sidenav.open {
  width: 300px; /* Adjusted width for when the sidenav is open */
}

.sidenav {
  margin-top: 50px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 45px; /* Adjust based on your design */
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #f1f1f1;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  /* No change needed here specifically for the arrow to extend, but ensure it can contain absolutely positioned children correctly */
}

.sidenav-arrow {
  position: absolute; /* Position relative to `.sidenav` boundaries */
  right: 0; /* Align it to the right side of `.sidenav` */
  top: 0px; /* Start from the top */
  bottom: 0; /* Extend to the bottom */
  width: 40px; /* Or adjust as needed for the width of the arrow */

  padding: 5px;
  padding-top: 50px;
  cursor: pointer;
  /* Removed padding-left and padding-right for full height, adjust width if you want a thicker arrow line */
}

.create-thread {
  width: 100%;
}

.thread-list {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: #000000;
  text-align: left;
  background-color: #eaeaea;
}
.thread-list-text-input {
  width: 100%;
  padding: 5px;
  border: #000000;
  text-align: left;
}
.thread-list-text {
  color: rgb(32, 97, 172);
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
  border: #ffffff00;
  border-radius: 5px;
  margin-bottom: 15px;
  text-decoration: none;
  text-align: left;
}
.thread-list-submit {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
  background-color: #015b8a;

  border: #ffffff00;
  border-radius: 5px;
  height: 34px;
  width: 100%; /* Consider adjusting if the button size is not appropriate */
  /* Removed 'top' as it's not effective without position:relative/absolute/fixed */
}.thread-list-cancel {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
  background-color: #d87939;

  border: #ffffff00;
  border-radius: 5px;
  height: 34px;
  width: 100%; /* Consider adjusting if the button size is not appropriate */
  /* Removed 'top' as it's not effective without position:relative/absolute/fixed */
}